@media screen and (max-width:1100px) {
    .container {
        max-width: 100%;
    }

    .col-6 {
        flex-basis: calc(100% / 6 - .5rem);
    }

    

}

@media screen and (max-width:900px) {
    .container {
        width: 100%;
    }

    .col-6 {
        flex-basis: calc(100% / 4 - .5rem);
    }

    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    
    
}


@media screen and (max-width:700px) {

    .container {
        max-width: 100%;
    }

    .col-6 {
        flex-basis: calc(100% / 2 - .5rem);
    }

    .w-40{
        width: 20px;

    }

    
   

   



}

@media screen and (max-width:600px) {
    .container {
        max-width: 100%;
    }

    .col-6 {
        flex-basis: calc(100% / 2 - .5rem);
    }

    .w-40{
        width: 20px;

    }

   
    
    

}

@media screen and (max-width:500px) {
    .container {
        max-width: 100%;
    }

    .sidebar {
        width: 15%;
        align-items: center;

    }

    .display-none {
        display: none;

    }

    .col-6 {
        flex-basis: calc(100% / 2 - .5rem)
    }

    .w-40{
        width: 20px;

    }

    

    


    

   



}