* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
    overflow: auto;
}

.overflow-auto {
    overflow: auto;
}

.w-25 {
    width: 25px;
    font-size: 35px;
    margin-right: 1rem;
}

.marg-bottom {
    margin-bottom: 2px;

}

.flex-row {
    display: flex;
    align-items: flex-start;
}


.w-20 {
    width: 20px;

}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.bottom-bar {
    flex-shrink: 1;
    padding: .5rem .5rem;
    min-height: 70px;
    background-color: #212121;
}

.sidebar {
    flex-shrink: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 1rem;
    color: #919496;
}

.top-bar {
    flex-shrink: 0;
    padding: 1rem 0;

    background-color: #1a1919;
    height: 85px;
    color: #919496;
    ;
}

.upgrade {
    display: flex;
    justify-content: end;
    padding: .5rem;
}

.btn {
    border: 1px solid;
    border-radius: 3rem 3rem;
    padding: .5rem;

}

.logo-icon {
    padding-bottom: 2rem;
}

.search {
    padding-bottom: 2rem;
}

.list {
    list-style: none;
    overflow: auto;
    height: 100%;
}

.margin-top4 {
    margin-top: 4rem;
}

.margin-top1 {
    margin-top: 1rem;

}

.hl {
    width: 100%;
    border: 1px solid gray;
    margin: .5rem;
}

.sidebar li {
    margin-bottom: 1rem;
}

.navbar {
    padding: 2rem;
    display: block;
    text-align: center;

}

.link {
    padding: .5rem;
    color: #919496;
}

.section {
    padding: 1rem;
}

.row {
    display: flex;
    gap: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.col-6 {
    flex-basis: calc(100% / 6);

}

.w-100 {
    width: 100%;
}

.description {
    text-align: center;
    padding: 1rem;
}

.circle-img {
    border-radius: 50%;

}

.container-player {
    background-color: rgb(34, 35, 38);

}

.white-bold {
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
}

.grey {
    color: #919496;

}

.img-bottom {
    max-width: 50px;
}

.playlist-title {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.left-side {
    align-items: center;
    width: 30%;
}

.footer-bar {
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    background-color: grey;
    padding: 3px;
    border-radius: 10px;
    margin: .5rem;
    width: 60%;
}

.small-bar{
    width: 35%;
}

.center-content {
    width: 40%;
    align-items: center;
    flex-direction: column;
}

.right-content {
    width: 30%;
    align-items: center;
    justify-content: end;
}

.marg-right {
    margin-right: 14px;
}

.f-size-color{
    font-size: 20px;
    color: white;
}

.f-size30{
    font-size: 30px;
}

.marg-bottom{
    margin-bottom:.5rem;
}

.pad-1rem{
    padding: 1rem;
}

